* {
    margin: 0;
    padding: 0;
}


.header_B {
    width:100%;
    height:200px;
    background: #3792C6;
}
.search_B>option {
    text-align: center;
    text-align: center;
    font-size: 19px;
}
.search_B:focus {
    border: none;
}
.search_B {

    border: none;
    margin:30px;
    height: 40px;
    width: 200px;
    font-size: 30px;
}
.form {
    border-top: 5px solid #A9A1A1;
    border-bottom: 5px solid #A9A1A1;
}

.JC_B {
    margin-top: 165px;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 180px;

}
.load_books {
    display:flex;
    width: 331px;
    height: 128px;
    background: #349FDB;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.loadMB {
    display:flex;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

color: #FFFFFF;
}
.wrap_books {
    /* width: 100%;
justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
  grid-template-columns: 30% 30% 30%; */
}
/* .book_one {
    grid-column-start: 2;
}
.book_two {
    grid-column-start: 3;
}
.book_three {
    grid-column-start: 4;
}
.book_four {
    grid-column-start: 2;
}
.book_five {
    grid-column-start: 3;
}
.book_six {
    grid-column-start: 4;
} */
.wrap_books_B {
   
}
.wrap_books {
    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    align-items: center;
  }
  
.img_books {
    width: 98%;
    height: 98%;
    align-self: center;
    border-radius: 18px;
}
.book {
    display: flex;
    align-items: center;
    justify-content: center;
    /* надо убрать когда переделаю структуру для hidden book */
    justify-self: center;
    border-radius: 20px;
    width: 23vw;
    height:30vw;
    background-color: rgb(0, 0, 0);
    /* до сюда */

}
.book>div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-radius: 20px;
    width: 23vw;
    height:30vw;
    background-color: rgb(0, 0, 0);
}
.hidden_book {
    display: none;
}


.wrap_footer {
    display: flex;
    justify-content: space-around;
    background-color: #D8D6D5;;
    width: 100%;
    height: 150px;
    margin-top: 100px;
}
.progect,.SS_B {
    list-style-type: none;
}
.SS_SB,.progect_SB,a {
    color: black;
    text-decoration: none;
    font-size: 35px;
line-height: 47px;
}






